.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  border: solid 1px var(--grey-2);
  padding-left: 1.31rem;
  padding-right: 1.25rem;
  padding-bottom: 2.62rem;
}

.title {
  font-family: var(--title1);
  color: var(--grey-4);
  font-style: normal;
  font-weight: 400;
  line-height: 1.375rem;
}

.textArea {
  display: flex;
  background-color: red;
}

.example {
  color: var(--grey-50, #868e96);
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem; /* 166.667% */
  margin-bottom: 2.56rem;
}

.button {
  display: flex;
  width: 19.625rem;
  height: 3rem;
  padding: 0.8125rem 1.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: 2px solid var(--color-primary, #fd377e);
  background: var(--color-primary, #fd377e);
  color: white;
}
