@import-normalize;

.bodyPage {
  display: flex;
  gap: 4.12rem;
  margin-left: 16.12rem;
  margin-top: 2.44rem;
}

.title {
  color: var(--grey-4, #212529);

  /* Title3 */
  font-family: Nunito;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.875rem; /* 187.5% */
}
