@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body: Nunito;
  --title1: Inter;
  /* font sizes */
  --body-size: 0.75rem;
  --title3-size: 1rem;
  --title1-size: 1.75rem;
  --body1-size: 0.88rem;
  --title31-size: 1.25rem;
  --title2-size: 1.38rem;
  --title11-size: 2.38rem;
  /* Colors */
  --color-white: #fff;
  --grey-4: #212529;
  --grey-1: #f8f9fa;
  --grey-2: #e9ecef;
  --grey-3: #343a40;
  --color-secondary: #03b898;
  --color-mediumslateblue: #7b61ff;
  --color-orchid: #e064cc;
  --color-lavenderblush: #fceffa;
  --color-primary-2: #e34981;
  --color-primary: #fd377e;
  --color-black: #000;
  --grey-31: #868e96;
  /* Gaps */
  --gap-12xs: 0.06rem;
  /* Paddings */
  --padding-smi: 0.81rem;
  --padding-4xs: 0.56rem;
  --padding-base: 1rem;
  --padding-xl: 1.25rem;
  /* Border radiuses */
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-181xl: 200px;
  --br-5xs: 8px;
}

body {
  font-family: var(--title1);
}
